<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="globals.css">
    <title>Login Component</title>
</head>

<body>
    <main id="container" v-cloak>
        <h1>{{title}}</h1>
        <login-form>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    title: 'Login'
                }
            }
        })

        app.component('login-form', {
            data() {
                return {
                    subtitle: 'Login to your dashboard here...',
                    inputs: [
                        {
                            label: 'Fullname',
                            value: '',
                            type: 'text',
                            id: 'name'
                        },
                        {
                            label: 'Email Address',
                            value: '',
                            type: 'email',
                            id: 'email'
                        },
                        {
                            label: 'Password',
                            value: '',
                            type: 'password',
                            id: 'password'
                        },
                    ],
                }
            },

            components: ['custom-input'],

            template: `
                 <p class="sm-txt">{{subtitle}}</p>
                 <form @submit.prevent="handleSubmission" class="flex mg-block">
                    <custom-input v-for="(input, i) in inputs" :key="i" v-model="input.value" :label="input.label" :type="input.type" :id="input.id"/>
                    <input type="submit" value="Login" class="btn" />
                </form>
            `,

            methods: {
                handleSubmission() {
                    console.log({
                        name: this.inputs[0].value,
                        email: this.inputs[1].value,
                        password: this.inputs[2].value,
                    })
                }
            }
        })

        app.component('custom-input', {

            template: `
                <label :for="id">
                    {{label}}
                </label>
                <input :type="type" :id="id" v-model="inputValue">
            `,

            props: ['label', 'type', 'id', 'modelValue'],

            computed: {
                inputValue: {
                    get() {
                        return this.modelValue
                    },
                    set(value) {
                        console.log(value);
                        this.$emit('update:modelValue', value) //emit events that other components can listen to 1:type of event, 2:value passing
                    }
                }
            },

            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // }
        })

        app.mount('#container')
    </script>
</body>

</html>