<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./globals.css">
    <title>Vue</title>
</head>
<body>
    <div id="app" v-cloak>
        <h1>{{ greeting }} Vue JS</h1>
        <input v-model="greeting" type="text">

        <hr>
        <button v-on:click="isVisible = !isVisible">Show Box</button>
        <div v-if="isVisible" class="card">

        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        let app = Vue.createApp({
            data: () => {
                return {
                    greeting: "Hello",
                    isVisible: false
                }
            }
        })
        app.mount('#app') //Vue instance

    </script>
</body>
</html>